/* General Use */
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

.text-font {
    font-family: 'Rubik','Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

.weight-300 {
    font-weight: 300;
    font-size: 56px;
    color: white;
}

.weight-400 {
    font-weight: 400;
    font-size: 15px;
    color: #BBC0FF;
}

.weight-500 {
    font-weight: 500;
    font-size: 18px;
    color: white;
}
/* General Use End */


/* Body */
.body-bg {
    background-color: #0E1323;
    justify-content: center;
    
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 30px;

    max-width: 1110px;
    max-height: 518px;

    margin-top: 253px;
    margin-bottom: 253px;
    margin-left: 165px;
    margin-right: 165px;

}
/* Body End */


/* Report Card */
.r-bg-box {
    grid-column: 1;
    grid-row: span 2;

    background-color: #1C204B;
    border-radius: 5%;

    max-width: 255px;
    max-height: 518px;
}

.r-bg-box > p {
    padding-left: 10%;
}

.r-img {
    width: 78px;
    height: 78px;

    border: solid, white 5px;
    border-radius: 50%;
}

.r-front-box {
    background-color: #5747EA;
    border-radius: 5%;

    max-width: 255px;
    max-height: 354px;
    
    padding-top: 10px;
    padding-left: 15px;
}
/* Report Card End*/


/* Work Card */
.w-bg-box {
    background-color: #FF8B64;
    background-image: url("../images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: 90% -5%;

    border-radius: 5%;

    width: 255px;
    height: 244px;

    display: flex;
    align-items: end;
}

.w-front-box {
    grid-column: 2;
    grid-row: 1;

    background-image: url("../images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 90% 15%;

    background-color: #1C204B;
    border-radius: 5%;
    
    width: 257px;
    height: 199px;

    padding-left: 5%;
}
/* Work Card End */


/* Play Card */
.p-bg-box {
    background-color: #55C2E6;
    background-image: url("../images/icon-play.svg");
    background-repeat: no-repeat;
    background-position: 90% -5%;

    border-radius: 5%;

    width: 255px;
    height: 244px;

    display: flex;
    align-items: end;
}

.p-front-box {
    grid-column: 3;
    grid-row: 1;

    background-image: url("../images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 90% 15%;

    background-color: #1C204B;
    border-radius: 5%;
    
    width: 257px;
    height: 199px;

    padding-left: 5%;
}
/* Play Card End */


/* Study Card */
.st-bg-box {
    background-color: #FF5E7D;
    background-image: url("../images/icon-study.svg");
    background-repeat: no-repeat;
    background-position: 90% -5%;

    border-radius: 5%;

    width: 255px;
    height: 244px;

    display: flex;
    align-items: end;
}

.st-front-box {
    grid-column: 4;
    grid-row: 1;

    background-image: url("../images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 90% 15%;

    background-color: #1C204B;
    border-radius: 5%;
    
    width: 257px;
    height: 199px;

    padding-left: 5%;
}
/* Study Card End */


/* Exercise Card */
.e-bg-box {
    background-color: #4BCF82;
    background-image: url("../images/icon-exercise.svg");
    background-repeat: no-repeat;
    background-position: 90% -5%;

    border-radius: 5%;

    width: 255px;
    height: 244px;

    display: flex;
    align-items: end;
}

.e-front-box {
    grid-column: 2;
    grid-row: 2;

    background-image: url("../images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 90% 15%;

    background-color: #1C204B;
    border-radius: 5%;
    
    width: 257px;
    height: 199px;

    padding-left: 5%;
}
/* Exercise Card End */


/* Social Card */
.s-bg-box {
    background-color: #7335D2;
    background-image: url("../images/icon-social.svg");
    background-repeat: no-repeat;
    background-position: 90% -5%;

    border-radius: 5%;

    width: 255px;
    height: 244px;

    display: flex;
    align-items: end;
}

.s-front-box {
    grid-column: 3;
    grid-row: 2;

    background-image: url("../images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 90% 15%;

    background-color: #1C204B;
    border-radius: 5%;
    
    width: 257px;
    height: 199px;

    padding-left: 5%;
}
/* Social Card */


/* Self Care Card */
.sc-bg-box {
    background-color: #F1C75B;
    background-image: url("../images/icon-self-care.svg");
    background-repeat: no-repeat;
    background-position: 90% -5%;

    border-radius: 5%;

    width: 255px;
    height: 244px;

    display: flex;
    align-items: end;
}

.sc-front-box {
    grid-column: 4;
    grid-row: 2;

    background-image: url("../images/icon-ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 90% 15%;

    background-color: #1C204B;
    border-radius: 5%;
    
    width: 257px;
    height: 199px;

    padding-left: 5%;
}
/* Self Care Card */